@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

/* Custom variant for selecting dark mode. Make sure to change this in variable darkModeSelector in composable useLayout.ts too */
@custom-variant dark (&:where(.p-dark, .p-dark *));

@theme {
  --breakpoint-xs: 30rem;
}

/* Global styles for horizontal scrolling on small screens */
@media screen and (max-width: 430px) {
  html, body {
    min-width: 360px;
    overflow-x: auto;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-weight: 400;
}

body {
  background-color: var(--p-surface-100);
  min-height: 100vh;
}

.p-dark body {
  background-color: var(--p-surface-950);
}

